[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://192.168.1.102/python-packages"
verify_ssl = false
name = "ermin"

[packages]
requests = "==2.25.1"
metfuncs = {version="1.0.14", index="ermin"}
metpy = "==1.0"

[dev-packages]

[requires]
python_version = "3.7"
